<a href="https://colab.research.google.com/github/michelleruas/Data_Visualisation/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Series and Dataframes
s = pd.Series(np.random.rand(4), name = 'daily_returns')
s

0    0.767540
1    0.674429
2    0.209019
3    0.876142
Name: daily_returns, dtype: float64

In [3]:
s*100

0    76.754039
1    67.442885
2    20.901903
3    87.614175
Name: daily_returns, dtype: float64

In [4]:
np.abs(s)

0    0.767540
1    0.674429
2    0.209019
3    0.876142
Name: daily_returns, dtype: float64

In [6]:
#Method that generate statistics that represent the data excluding NaN values
s.describe()

count    4.000000
mean     0.631783
std      0.293649
min      0.209019
25%      0.558076
50%      0.720985
75%      0.794691
max      0.876142
Name: daily_returns, dtype: float64